/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

.col-1 {
  display: inline-block;
  width: 60%;
}

.col-2 {
  display: inline-block;
  width: 38%;
  padding: 1%;
}

.col-3 {
  display: inline-block;
  width: 31%;
  padding: 1%;
}

.col-4 {
  display: inline-block;
  width: 31%;
  padding: 1%;
}

.col-5 {
  display: inline-block;
  width: 31%;
  padding: 1%;
}

.col-6 {
  display: inline-block;
  width: 31%;
  padding: 1%;
  background: #000;
}

.col-7 {
  display: inline-block;
  width: 31%;
  padding: 1%;
}

.col-8 {
  display: inline-block;
  width: 31%;
  padding: 1%;
}
