/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

#col-1 { /**takes up 2/3 -- includes summer grass, lady bug and skaters/contact correspondence and links */
  display: inline-block;
  width: 63%;
}

.lady {
  width: 33%;
}

#col-2 { /*-- takes up 1/3 -- includes shoe archive and bluestar heels/follow */
  display: inline-block;
  width: 33%;
}

#col-2.baby {
  display: inline-block;
  width: 33%;
}
